<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>knight_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{100,95}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,28},{100,95}}</string>
                <key>sourceSize</key>
                <string>{200,133}</string>
            </dict>
            <key>knight_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,93}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,33},{106,93}}</string>
                <key>sourceSize</key>
                <string>{200,133}</string>
            </dict>
            <key>knight_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{106,91}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,37},{106,91}}</string>
                <key>sourceSize</key>
                <string>{200,133}</string>
            </dict>
            <key>knight_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,93}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,32},{106,93}}</string>
                <key>sourceSize</key>
                <string>{200,133}</string>
            </dict>
            <key>knight_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,97},{100,95}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,28},{100,95}}</string>
                <key>sourceSize</key>
                <string>{200,133}</string>
            </dict>
            <key>knight_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,194},{96,95}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,32},{96,95}}</string>
                <key>sourceSize</key>
                <string>{200,133}</string>
            </dict>
            <key>knight_walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{92,93}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,35},{92,93}}</string>
                <key>sourceSize</key>
                <string>{200,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>knight-hd.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb7beb4939323d7dacca870ecbc16b8d:d4d6dcc1a5d05667de5277b62cecb34a:b374f89a43f0e9fd2506bb081eae2fbe$</string>
            <key>textureFileName</key>
            <string>knight-hd.png</string>
        </dict>
    </dict>
</plist>
