<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>plant1.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,206},{76,103}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,103}}</string>
                <key>sourceSize</key>
                <string>{90,103}</string>
            </dict>
            <key>plant2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,107},{76,103}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{76,103}}</string>
                <key>sourceSize</key>
                <string>{90,103}</string>
            </dict>
            <key>plant3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{78,103}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{78,103}}</string>
                <key>sourceSize</key>
                <string>{90,103}</string>
            </dict>
            <key>plant4.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,420},{82,103}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,103}}</string>
                <key>sourceSize</key>
                <string>{90,103}</string>
            </dict>
            <key>plant5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{82,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{82,103}}</string>
                <key>sourceSize</key>
                <string>{90,103}</string>
            </dict>
            <key>plant6.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,414},{80,103}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{80,103}}</string>
                <key>sourceSize</key>
                <string>{90,103}</string>
            </dict>
            <key>zomb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{113,137}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,137}}</string>
                <key>sourceSize</key>
                <string>{115,147}</string>
            </dict>
            <key>zomb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,282},{106,130}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{106,130}}</string>
                <key>sourceSize</key>
                <string>{114,148}</string>
            </dict>
            <key>zomb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,104},{100,126}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{100,126}}</string>
                <key>sourceSize</key>
                <string>{116,146}</string>
            </dict>
            <key>zomb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{109,137}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{109,137}}</string>
                <key>sourceSize</key>
                <string>{115,147}</string>
            </dict>
            <key>zomb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,139}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{111,139}}</string>
                <key>sourceSize</key>
                <string>{115,147}</string>
            </dict>
            <key>zomb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{100,127}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,14},{100,127}}</string>
                <key>sourceSize</key>
                <string>{114,147}</string>
            </dict>
            <key>zomb7.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,141},{104,130}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{104,130}}</string>
                <key>sourceSize</key>
                <string>{114,146}</string>
            </dict>
            <key>zomb8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{111,136}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{111,136}}</string>
                <key>sourceSize</key>
                <string>{115,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plants_zombies.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b30a3268327ed3a6ed677306a717ee81:c61351e7d8dca9ae546326448b6c5b91:68f10c31ab0ac6f4d7d10f17bd5b5a4c$</string>
            <key>textureFileName</key>
            <string>plants_zombies.png</string>
        </dict>
    </dict>
</plist>
