<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bmw-mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{128,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{128,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>camaro.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{128,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{128,54}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>chevrolet-impala.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{128,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{128,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ferrari.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,258},{128,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{128,54}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>vintage-car.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,132},{124,80}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,17},{124,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>vw-beetle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{128,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>yellow-pickup.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{128,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{128,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cars-hd.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b570c590c14315ccd5e582f5cef94b1f:bfb9c9b094d78b2e41e78a48f59d1b9a:f9086209f2aa4e94d90bb4b682a8cb3f$</string>
            <key>textureFileName</key>
            <string>cars-hd.png</string>
        </dict>
    </dict>
</plist>
